{% extends bigfoot_theme_bundle ~ ':crud:form.html.twig' %}

{% block form %}

    {% form_theme form
        bigfoot_theme_bundle ~ ':content:form/sidebar/blocks.html.twig'
        bigfoot_theme_bundle ~ ':form_custom:inline.html.twig' %}

    <div id="templates">
        <div class="item-template w{{ form.content.template|length }} pull-center templates-container">
            <div class="item-templates-container">
            <span class="group-title">{{ form.content.vars.label }}</span>
            {% for template in form.content.template %}
                <div class="template-row">
                    <label style="text-align:center;">
                        {{ form_widget(template) }}
                        <img src="{{ asset('images/template/sidebar/' ~ template.vars.value ~ '.svg') }}"><br />
                        <span style="font-size:9px;">{{ template.vars.label }}</span>
                        <i class="icon-ok bigger-110 bigger-160 green" {% if not template.vars.checked %}style="display: none"{% endif %}></i>
                    </label>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    {{ form_rest(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/bigfootcontent/js/block.js') }}"></script>
    <script src="{{ asset('bundles/bigfootcontent/js/content.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/bigfootcontent/css/styles.css') }}" />
{% endblock %}