{% extends bigfoot_theme_bundle ~ ':crud:form.html.twig' %}

{% form_theme form bigfoot_theme_bundle ~ ':content:form/sidebar/blocks.html.twig' %}

{% block form %}
    {{ form_label(form.content.template) }}

    <ul>
        {% for template in form.content.template %}
            <li class="template-row inline" style="margin-right:10px;">
                <label style="text-align:center;">
                    {{ form_widget(template) }}
                    <img src="{{ asset('images/template/sidebar/' ~ template.vars.value ~ '.svg') }}"><br />
                    <span style="font-size:9px;">{{ template.vars.value }}</span>
                </label>
            </li>
        {% endfor %}
    </ul>

    {{ form_rest(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/bigfootcontent/js/sidebar.js') }}"></script>
    <script src="{{ asset('bundles/bigfootcontent/js/block.js') }}"></script>
{% endblock %}