{% extends bigfoot_theme_bundle~'::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@BigfootContentBundle/Resources/public/css/*' filter='cssrewrite' output='css/compiled/content-bundle.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@BigfootContentBundle/Resources/public/js/*' output='js/compiled/content-bundle.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div id="dashboard_actions">
        <div class="action_elt">
            <a href="{{ path('admin_sidebar_new') }}" class="colorbox">{{ 'Add a sidebar' | trans }}</a>
        </div>
        <div class="action_elt">
            <a href="{{ path('admin_staticcontent_colorbox_new') }}" class="colorbox">{{ 'Add a static content' | trans }}</a>
        </div>
        <div class="action_elt">
            <a href="{{ path('admin_contentbundle_sidebar_category_new') }}" class="colorbox">{{ 'Add a sidebar category' | trans }}</a>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div id="widget_sc_container">
        <div id="header_widget_sc_container">{{ 'Liste des Widgets et des Contenus statiques disponibles' }}</div>
        <div id="body_widget_sc_container">
            {% for widget in widgetList %}
                <div class="widget_elt" data-name="{{ widget.name }}" data-type="widget" data-id="">
                    <a href="#_">{{ widget.label }}</a>
                </div>
            {% endfor %}

            {% for staticcontent in staticContentList %}
                <div class="widget_elt" data-name="" data-type="staticcontent" data-id="{{ staticcontent.id }}">
                    <a href="#_">{{ staticcontent.label }}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="sidebar_container" data-create-block="{{ path('admin_dashboard_create_dynamic_block') }}" data-save-order="{{ path('admin_dashboard_save_block_order') }}">
        <div id="header_sidebar_container">{{ 'Liste des Sidebars disponibles' }}<a href="{{ path('admin_sidebar_new') }}" class="colorbox"><span class="glyphicon glyphicon-file"></span></a></div>
        <div id="body_sidebar_container">

            <div id="sidebar_filter">
                <label for="filterCategory">{{ 'Filtrer par catégorie' | trans }} : </label>
                <select id="filterCategory">
                    <option value="">{{ 'Toutes' | trans }}</option>
                    {% for category_id, elementCategory in sidebarCategoryList %}
                        <option value="{{ category_id }}">{{ elementCategory }}</option>
                    {% endfor %}
                </select>
            </div>

            {% for sidebarCategory, sidebarElt in sidebarList %}
                <div class="sidebar_category" id="sidebar_category_{{ sidebarElt.category_id }}">
                    <div class="sidebar_category_header">
                        {{ sidebarCategory }}
                        {% if sidebarElt.category_id != 0 %}
                            <a href="{{ path('admin_contentbundle_sidebar_category_edit', {'id' : sidebarElt.category_id}) }}" class="colorbox"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a>
                        {% endif %}
                    </div>
                    <div class="sidebar_category_body">
                        {% for sidebar in sidebarElt.elements %}
                            <div class="sidebar_elt" id="sidebar_{{ sidebar.id_sidebar }}">
                                <div class="header_sidebar_elt">
                                    <a href="#_" onclick="saveOrderBlock('{{ sidebar.id_sidebar }}');return false;" title="{{ 'Save Order' | trans }}"><span class="glyphicon glyphicon-magnet">{{ 'save' | trans }}&nbsp;{{ 'order' | trans }}</span></a>
                                    {{ sidebar.name }}
                                    <a href="{{ path('admin_sidebar_edit' , { 'id': sidebar.id_sidebar }) }}" class="colorbox" title="{{ 'Edit this Sidebar' | trans }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="#_"
                                       data-href="{{ path('admin_sidebar_delete' , { 'id': sidebar.id_sidebar }) }}" title="{{ 'Delete this sidebar' | trans }}" class="delete-form-dashboard"
                                       data-confirm-title="{{ 'Please confirm' | trans }}"
                                       data-confirm-message="{{ 'Are you sure you want to perform this action ? The object will be permanently lost.' | trans }}"
                                       data-confirm-button-cancel="{{ "Cancel" | trans }}"
                                       data-confirm-button-ok="{{ "Confirm" | trans }}">
                                        <span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                                <div class="body_sidebar_elt" id="body_sidebar_{{ sidebar.id_sidebar }}">
                                    {% for block in sidebar.formBlock %}
                                        {% if block.type == 'widget' %}
                                            {% set action_path = path('admin_widget_colorbox_edit', { 'id': block.id, 'form_name' : block.form_name, 'widget_name' : block.widget_name, 'id_sidebar' : sidebar.id_sidebar, 'position' : block.position }) %}
                                            {% set delete_path = path('admin_widget_delete', { 'id': block.id }) %}
                                        {% elseif block.type == 'staticcontent' %}
                                            {% set action_path = path('admin_staticcontent_colorbox_edit', { 'id': block.id, 'mode' : 'edit', 'id_sidebar' : sidebar.id_sidebar, 'position' : block.position }) %}
                                            {% set delete_path = path('admin_staticcontent_delete', { 'id': block.id }) %}
                                        {% endif %}

                                        {% include 'BigfootContentBundle:Form:dynamicform.html.twig' with {
                                        'form': block.form,
                                        'currentSidebar': sidebar.id_sidebar,
                                        'action_path' : action_path,
                                        'delete_path' : delete_path,
                                        'method' : 'PUT',
                                        'block_id' : block.id,
                                        'block_type' : block.type,
                                        } %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
