{% extends bigfoot_theme_bundle ~ ':crud:form.html.twig' %}

{% form_theme form bigfoot_theme_bundle ~ ':content:form/template/choose.html.twig' %}

{% block form %}
    <h5>Choose your template</h5>
    <hr />

    {% for templates in form.vars.templates %}
        <ul>
            {% for template in form.template %}
                {% if template.vars.value in templates|keys %}
                    <li class="template-row inline" style="margin-right:10px;">
                        <label style="text-align:center;">
                            {{ form_widget(template) }}
                            <img src="{{ asset('images/template/' ~ form.vars.contentType ~ '/' ~ template.vars.value ~ '.svg') }}"><br />
                            <span style="font-size:9px;">{{ template.vars.value }}</span>
                        </label>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}

    {{ form_rest(form) }}
{% endblock %}

{% block form_actions %}
    <div class="clearfix form-actions">
        <div class="col-md-offset-5 col-md-7">
            {% if form_cancel is defined %}
                <a href="{{ path(form_cancel) }}" class="btn btn-link">
                    {{ 'Cancel'|trans }}
                </a>
            {% endif %}

            <button class="btn btn-success" type="submit">
                <i class="icon-ok bigger-110"></i>
                {{ form_submit|default('Submit')|trans }}
            </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/bigfootcontent/js/template.js') }}"></script>
{% endblock %}