<div class="form_widget_element">
    <div class="header_form_widget_element">
        {{ form.vars.value.label }}
        <a href="{{ action_path }}" class="colorbox"><span class="glyphicon glyphicon-pencil"></span></a>

        {% if block_id is defined and block_type is defined %}
            {% if block_type == 'widget' %}
                {% set action_delete =  path('admin_widget_delete' , { 'id': block_id  }) %}
            {% elseif  block_type == 'staticcontent' %}
                {% set action_delete =  path('admin_staticcontent_delete' , { 'id': block_id }) %}
            {% endif %}

            <a href="#_"
               data-href="{{ action_delete }}" title="{{ 'Delete' | trans }}" class="delete-form-dashboard"
               data-confirm-title="{{ 'Please confirm' | trans }}"
               data-confirm-message="{{ 'Are you sure you want to perform this action ? The object will be permanently lost.' | trans }}"
               data-confirm-button-cancel="{{ "Cancel" | trans }}"
               data-confirm-button-ok="{{ "Confirm" | trans }}">
                <span class="glyphicon glyphicon-trash"></span></a>
        {% endif %}

    </div>
    <div class="body_form_widget_element" {% if block_id is defined and block_type is defined %}id="{{block_type}}-{{ block_id }}"{% endif %} style="display:none;">
        <form action="{{ action_path }}" method="post" class="form-horizontal">
            {{ form_widget(form.position, {'attr': {'class': 'sortable-field'}}) }}
        </form>
    </div>
</div>
